.background {
  background: center no-repeat url(https://ei.phncdn.com/videos/202209/01/414790231/original/(m=eGNdHgaaaa)(mh=HsuHRLsqC0CjkgMY)15.jpg);
}

.logo {
  background-image: url(https://sugarbabes.tv/wp-content/uploads/2022/07/horny-greek-tattooed-brunette-babe-sofia-pavlidi-riding-cock.webp);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url(https://www.koursaros.net/wp-content/uploads/2024/03/Greek-Porn-Video-Koursaros_00001-5-760x428.jpg);
}

.watermark {
  background-image: url(https://www.koursaros.net/wp-content/uploads/2024/01/Greek-Porn-Video-Koursaros_00001-17-760x1351.jpg);
  background-size: 57px 57px;
}
